# python packages needed for editable installations
# all other dependencies are in pyproject.toml
#$ pip install --no-build-isolation -ve .

numpy>=2
scikit_build_core>=0.11.0
setuptools_scm
f90wrap>=0.3.0
